<html>
 
<head></head>
 
<body>
    <p>Dear ${firstName} ${lastName},</p>
    <p>Each day holds a surprise. But only if we expect it can we see, hear, or feel it when it comes to us. 
    Let's not be afraid to receive each day's surprise, whether it comes to us as sorrow or as joy.
    It will open a new place in our hearts, a place where we can welcome new friends and celebrate more fully our shared humanity..</p>
     
    <p>Every new friend is a new adventure… the start of more memories.</p>
    
    
    <p>Warm wishes,</p>
    <p>${signature}</p>
    
    
    
</body>
 
</html>